<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs')%>

    <body>
        <%- include('./partials/navbar.ejs')%>
            <h1>Shopping cart page</h1>
            <% if (items.length> 0) { %>
                <% items.forEach(item=> { %>
                    <div class="cart-item-entity">
                        <h3 class="cart-item-title">
                            <%= item.title %>
                        </h3>
                        <p class="cart-item-price">
                            <%= item.price %>
                        </p>
                        <p class="cart-item-description">
                            <%= item.description %>
                        </p>
                        <p class="cart-item-weight">
                            <%= item.weight %>
                        </p>
                        <p class="cart-item-image">
                            <%= item.image %>
                        </p>
                        <a class="delete-item-btn" data-doc="<%= item._id %>">delete</a>
                    </div>
                    <% }) %>
                        <% } else { %>
                            <p>The shopping cart is empty</p>
                            <% } %>
                                <%- include('./partials/footer.ejs')%>
    </body>

</html>