<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs')%>

    <body>
        <%- include('./partials/navbar.ejs')%>
            <div class="shopping-cart-wrapper">
                <div class="shopping-cart-inner-box">
                    <% if (items.length> 0) { %>
                        <div class="shopping-cart-items-list">
                            <% items.forEach(item=> { %>
                                <div class="cart-item-entity">
                                    <h3 class="cart-item-title">
                                        <%= item.title %>
                                    </h3>
                                    <p class="cart-item-price">
                                        <%= item.price %>
                                    </p>
                                    <p class="cart-item-description">
                                        <%= item.description %>
                                    </p>
                                    <p class="cart-item-weight">
                                        <%= item.weight %>
                                    </p>
                                    <p class="cart-item-image">
                                        <%= item.image %>
                                    </p>
                                    <a class="delete-item-btn" data-doc="<%= item._id %>">delete</a>
                                </div>
                                <% }) %>
                        </div>
                        <div class="shopping-cart-checkout-box">
                            <button>check out</button>
                        </div>
                        <% } else { %>
                            <p>The shopping cart is empty</p>
                            <% } %>
                </div>
            </div>
            <%- include('./partials/footer.ejs')%>
                <script>
                    const trashcan = document.querySelectorAll('a.delete-item-btn');
                    trashcan.forEach((trashcan) => {
                        trashcan.addEventListener('click', (e) => {
                            const endpoint = `/cart/${trashcan.dataset.doc}`;
                            fetch(endpoint, {
                                method: 'DELETE'
                            })
                                .then((response) => response.json())
                                .then((data) => window.location.href = data.redirect)
                                .catch(err => console.log(err))
                        });
                    })
                </script>
    </body>

</html>