<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')%>

    <body>


        <%- include('./partials/navbar.ejs')%>
            <div class="product-single-item-wrapper">
                <div class="product-single-item-box">
                    <div class="product-single-item-item">
                        <div class="product-single-item-images">
                            <div class="product-single-item-main-image-box">
                                <img src=<%=product.image %> alt="product-image" class="product-single-item-main-image">
                            </div>
                        </div>
                        <div class="product-single-item-body">
                            <div class="product-single-item-desc">
                                <p class="product-single-item-title item-details">
                                    <%= product.title %>
                                </p>
                                <p class="product-single-item-price item-details">
                                    <%= product.price %>
                                </p>
                                <p class="product-single-item-rating item-details">
                                    <%= product.rating %>
                                </p>
                                <p class="product-single-item-desc item-details">
                                    <%= product.description %>
                                </p>
                                <p class="product-single-item-weight item-details">
                                    <%= product.weight %>
                                </p>
                                <div class="product-single-item-size">
                                    <select name="size" class="product-single-item-size">
                                        <option value="1">small</option>
                                        <option value="2">medium</option>
                                        <option value="3">large</option>
                                        <option value="4">XXL</option>
                                    </select>
                                </div>
                            </div>
                            <div class="product-single-item-footer">
                                <select name="quantity" class="product-single-item-quantity">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                                <div class="product-single-item-atc-btn-box">
                                    <form method="POST" action="/cart" style="display: inline;">
                                        <input type="hidden" name="title" value="<%= product.title %>">
                                        <input type="hidden" name="price" value="<%= product.price %>">
                                        <input type="hidden" name="description" value="<%= product.description %>">
                                        <input type="hidden" name="weight" value="<%= product.weight %>">
                                        <input type="hidden" name="image" value="<%= product.image %>">
                                        <button type="submit" class="product-single-item-atc-btn atc-btn">ADD TO
                                            CART</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <%- include('./partials/footer.ejs')%>
    </body>

</html>