<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')%>

    <body>
        <% const name='Mario' %>
            <%- include('./partials/navbar.ejs')%>
                <div class="wrapper">
                    <div class="content">
                        <h1>All products</h1>
                        <% if (products.length> 0) { %>
                            <% products.forEach(product=> { %>

                                <h3 class="title">
                                    <%= product.title %>
                                </h3>
                                <p class="snippet">
                                    <%= product.price %>
                                </p>

                                <% }) %>
                                    <% } else { %>
                                        <p>There are no products to display...</p>
                                        <% } %>
                    </div>
                </div>
                <%- include('./partials/footer.ejs')%>
    </body>

</html>